*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    min-height:80vh ;
    background-image:linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url(images/header2.jpg);
    background-position: center;
    background-size: cover;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.logo{
    color: rgb(235, 53, 53);
    font-size: 3rem;
    font-family: "Qwitcher Grypen", cursive;
    font-weight: bold;
    margin: 15px;
}

.nav-links a{
    margin: 10px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    font-weight: 600;
    font-family: "Alegreya", serif;
    transition: all ease .3s;
}

.nav-links a:hover{
    text-decoration: underline;
    color: rgb(235, 53, 53); 
   
}



.btn1 {
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: bold;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    padding: 8px 12px;
    border-radius: 30px;
    transition: all ease .3s;
    margin: 15px;
}

.btn1:hover{
    color: white;
    background-color:  rgb(235, 53, 53);
}

.hero{
 padding: 5rem;
 display: flex;
 justify-content: space-around;
 align-items: center;
 
  
}


.cta2{
    margin-top: 30px;
}

.hero-text h1{
    font-family: "Qwitcher Grypen", cursive;
    font-size: 8rem;
    font-weight: bold;
    color: aliceblue;
    -webkit-text-stroke: 1px rgb(255, 255, 255);
    -webkit-text-fill-color: rgba(0, 0, 0, 0);
}

.hero-text p{
    font-family: "Alegreya", serif;
    font-size: 1.2rem;
    color: rgb(255, 255, 255);
}

.hero-pic{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
   
}




.hero-pic1 img{
    width: 250px;
    transform: rotate(-15deg);
    border: solid 5px whitesmoke;
    border-radius: 30px;
}
   
   

.hero-pic2 img{
    width: 250px;
    border: solid 5px whitesmoke;
    border-radius: 30px;
    transform: rotate(10deg);
}

.hero-pic3 img{
    width: 250px;
    transform: rotate(15deg);
    border: solid 5px whitesmoke;
    border-radius: 30px;
}

.hero-pic4 img{
    width: 250px;
    border: solid 5px whitesmoke;
    border-radius: 30px;
}



.btn2 {
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: bold;
    color: rgb(255, 255, 255);
    background-color: black;
    padding: 12px 18px;
    border-radius: 30px;
    transition: all ease .3s;
   
    
}

.btn2:hover{
   
    background-color:  rgb(235, 53, 53);
}

.day-offer-title{
    font-family: "Qwitcher Grypen", cursive;
    font-weight: bold;
    font-size: 5rem;
    text-align: center;
}

.day-offers{
    padding-top: 50px;
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 30px;
}

.offer-pic img{
    width: 100px;
    border-radius: 100%;
}

.offer1{
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: rgb(20, 31, 51);
    padding: 8px 15px;
    border-radius: 10px;


}

.offer-text{
    color: white;
}


.menu-title{
    font-family: "Qwitcher Grypen", cursive;
    font-weight: bold;
    font-size: 5rem;
    text-align: center;
}

.menu-category{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.menu-pic{
    padding: 30px;
   
}

.menu-pic img{
    width: 200px;
    border: 5px solid rgb(100, 98, 98);
    border-radius: 20px;
}

.menu-pic h1{
    color: rgb(0, 0, 0);
}

.menu-pic p{
    color: rgb(0, 0, 0);
}

.menu-food{
    margin-top: 5rem;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    text-align: center;
    align-items: center;
    align-content: center;
   
   
}

.cta3{
    margin-top: 30px;
    text-align: center;
}

.btn3 {
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: bold;
    color: rgb(255, 255, 255);
    background-color: rgb(206, 157, 24);
    padding: 12px 25px;
    border-radius: 30px;
    transition: all ease .3s;
   
    
}

.btn3:hover{
   
    background-color:  rgb(235, 53, 53);
}


